<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>
<div class="min-h-screen flex flex-col">
  <p-menubar class="flex h-14 pl-10 items-center space-x-2 bg-gray-800 text-white" [model]="menuItems"></p-menubar>
  
  <div class="flex-grow">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center space-x-2">
        <span>©{{ year }} IDM</span>
      </div>

      <div class="flex items-center space-x-2">
        <a href="https://paavokarppinen.azurewebsites.net/" target="_blank" rel="noopener noreferrer">
          My website
        </a>
      </div>
      
      <div class="flex items-center space-x-2">
        <a href="https://github.com/paavkar/" target="_blank" rel="noopener noreferrer">
          My GitHub
        </a>
      </div>
    </div>
  </footer>
</div>