<style>
  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<div class="min-h-screen flex flex-col">
  <div class="flex h-[50px] space-x-2 bg-gray-800 sticky items-center">
    <div class="flex ml-[20px] space-x-20 items-center">
      <div class="flex gap-1 items-center">
        <i class="pi pi-home text-white text-xl"></i>
        <a class="text-white text-xl" routerLink="/devices">Devices</a>
      </div>
    </div>

    <div class="flex justify-end flex-grow">
      <div class="flex mr-[20px]">
        <p-menu #menu [model]="userMenuItems" [popup]="true" class="z-1" />
        <p-button (click)="menu.toggle($event)" icon="pi pi-user"/>
      </div>
    </div>
  </div>
 
  <div class="flex-grow">
    <router-outlet></router-outlet>
  </div>

  <footer class="bg-gray-800 text-white pt-4 sticky h-[40px]">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex items-center space-x-2">
        <span>©{{ year }} IDM | Paavo Karppinen</span>
      </div>

      <div class="flex items-center space-x-2">
        <a href="https://paavokarppinen.azurewebsites.net/" target="_blank" rel="noopener">
          My website
        </a>
      </div>
      
      <div class="flex items-center space-x-2">
        <a href="https://github.com/paavkar/" target="_blank" rel="noopener">
          My GitHub
        </a>
      </div>
    </div>
  </footer>
</div>