<div *ngIf="deviceLoading" class="flex items-center">
    <p-progress-spinner [style]="{'width': '50px', 'height': '50px'}" ariaLabel="loading"></p-progress-spinner>
</div>

<div *ngIf="device" class="m-4">
    <span class="text-[2em]">{{ device.name }}</span>

    <div class="mt-4 grid gap-4 grid-cols-1 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 2xl:grid-cols-6">
        <p-card header="Device details">
            <div class="flex flex-col gap-4">
                <span>Online status: 
                    <i [ngStyle]="{color: (device.isOnline) ? 'green' : 'red'}" class="pi pi-circle-on ml-2">
                    </i>
                </span>
                <span>Last connected: {{ device.lastConnectionTime | date:'medium' }}</span>
            </div>
        </p-card>
        <div class="flex flex-col gap-4">
            <span class="text-[1.17em]">Send commands to device</span>
            <div *ngFor="let option of commandOptions" class="p-field-radiobutton flex">
                <p-radioButton
                  name="command"
                  [value]="option.value"
                  [(ngModel)]="deviceConfig.commandType">
                </p-radioButton>
                <label class="ml-2">{{ option.label }}</label>            
            </div>

            <div *ngIf="deviceConfig.commandType === CommandType.SetFrequency" class="p-field flex flex-col gap-2">
                <label for="frequencyValue">Frequency Value:</label>
                <p-inputnumber 
                  id="frequencyValue"
                  [min]="1"
                  placeholder="Enter the measurement frequency in minutes"
                  [(ngModel)]="deviceConfig.value"
                  class="max-w-[3em]" />
            </div>
            <p-button class="rounded-md p-2" label="Send command" [outlined]="true" severity="primary" (click)="sendCommandRequest()" />
        </div>
    </div>

    <div class="flex flex-col gap-4 mt-4">
        <span class="text-[1.5em]">Sensors</span>
        <span>{{ device.name }} sensors connected: {{ device.sensors?.length }}</span>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-6" *ngFor="let sensor of device.sensors">
        <p-panel header="{{ sensor.name }}" [toggleable]="true">
            <div>
                <span>Online status: 
                    <i [ngStyle]="{color: (sensor.isOnline) ? 'green' : 'red'}" class="pi pi-circle-on ml-2">
                    </i>
                </span><br />
                <span>Last connected: {{ sensor.lastConnectionTime | date:'medium' }}</span>
            </div>
            <div *ngFor="let reading of sensor.latestReadings" class="flex flex-col gap-4 mt-2">
                <div class="flex flex-col">
                    <span>Reading type: {{ reading.measurementType }}</span>
                    <span>Latest reading: {{ reading.reading }} {{ reading.unit }}</span>
                </div>
            </div>
        </p-panel>
    </div>
</div>

<div *ngIf="errorMessage" class="flex flex-col flex-grow mt-4 text-center content-center">
    <span class="text-[2em] font-semibold">{{ statusCodeAndText }}</span><br />
    <span class="text-[1.17em]">{{ errorMessage }}</span>
</div>
