<div class="m-4">
    <span class="text-3xl font-semibold">Your devices</span>
    <p-button class="ml-4 p-2 rounded-md" aria-label="Add a device"
        label="Add a device" (click)="addDevice()" />
    
    <div class="mt-4">
        <p-table [value]="devices" showGridlines [tableStyle]="{ 'min-width': '60rem' }">
            <ng-template #caption>
                <div class="flex p-1 items-center justify-between">
                    <span class="text-xl font-semibold">Devices</span>
                    <p-button class="mr-4 p-1" icon="pi pi-refresh" [rounded]="true" [raised]="true" />
                </div>
            </ng-template>
            <ng-template #header>
                <tr>
                    <th class="text-lg">Name</th>
                    <th class="text-lg">Serial number</th>
                    <th class="text-lg">Online status</th>
                    <th class="text-lg">Last connected</th>
                    <th class="text-lg">Sensor count</th>
                </tr>
            </ng-template>
            <ng-template #body let-device>
                <tr>
                    <td>{{ device.name }}</td>
                    <td>{{ device.serialNumber }}</td>
                    <td>{{ device.isOnline }}</td>
                    <td>{{ device.lastConnectionTime }}</td>
                    <td>{{ device.sensors.length }}</td>
                </tr>
            </ng-template>
            <ng-template #footer>There are {{ devices ? devices.length : 0 }} devices in total.</ng-template>
        </p-table>
    </div>
    
    <div class="z-1 bg-indigo-800">
        <p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '30rem', height: 'auto' }">
            <ng-template #header>
                <div class="inline-flex">
                    <span class="font-semibold">Add a new device</span>
                </div>
            </ng-template>
            <div class="flex flex-col">
                <span class="mb-4 font-light">Give a name for your new device</span>
                <div class="flex flex-col">
                    <label for="name">Name</label>
                    <input class="border mt-4 bg-black-100" type="text" pInputText id="name" class="flex-auto" autocomplete="off" [(ngModel)]="newDeviceName" />
                </div>
            </div>
            <ng-template #footer>
                <p-button class="mr-4 rounded-md p-2" label="Cancel" [text]="true" severity="secondary" (click)="visible = false" />
                <p-button class="rounded-md p-2" label="Save" [outlined]="true" severity="primary" (click)="saveDevice()" />
            </ng-template>
        </p-dialog>
    </div>
</div>
